{% extends 'base.html.twig' %}

{% block title %}Currency index{% endblock %}

{% block body %}
    <h1>Currency List</h1>
	<a href="{{ path('currency_new') }}">Add Currency</a>
	{{ include('common/_flash_messages.html.twig') }}
	
	<div class="row">
      <div class="col">Id</div>
      <div class="col">Name</div>
      <div class="col">Actions</div>
    </div>
    
{% for currency in currencies %}
    <div class="row">
      <div class="col">{{ currency.id }}</div>
      <div class="col">{{ currency.name }}</div>
      <div class="col">
      	<a href="{{ path('currency_show', {'id': currency.id}) }}">show</a>
        <a href="{{ path('currency_edit', {'id': currency.id}) }}">Edit</a>
      </div>
    </div>
     {% else %}
            <div>no records found</div>
        {% endfor %}
{% endblock %}
