{% extends 'base.html.twig' %}

{% block title %}Rates index{% endblock %}

{% block body %}

    <h1>Rates List</h1>
	<a href="{{ path('rates_refresh_form') }}">Refresh Rate</a>
	<a href="{{ path('rates_new') }}">Add Rate</a>
	
	{{ include('common/_flash_messages.html.twig') }}
	
	<div class="row">
      <div class="col">Id</div>
      <div class="col">Currency</div>
      <div class="col">Rate</div>
      <div class="col">Created</div>
      <div class="col">Updated</div>
      <div class="col">Actions</div>
    </div>
    {% for rate in rates %}
    <div class="row">
    	<div class="col">{{ rate.id }}</div>
      <div class="col">{{ rate.currency }}</div>
      <div class="col">{{ rate.rate }}</div>
      <div class="col">{{ rate.created ? rate.created|date('Y-m-d H:i:s') : '' }}</div>
      <div class="col">{{ rate.updated ? rate.updated|date('Y-m-d H:i:s') : '' }}</div>
      <div class="col"><a href="{{ path('rates_edit', {'id': rate.id}) }}">edit</a></div>
    </div>
     {% else %}
            <div>no records found</div>
        {% endfor %}
    
{% endblock %}
